<a href="https://colab.research.google.com/github/himanshutyagi2020/Tensorflow/blob/main/Assignment_1_Set_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
data_path = "/content/gdrive/MyDrive/training.csv"

In [57]:
df = pd.read_csv(data_path,engine='python',sep=",",error_bad_lines=False,names=['target', 'ids', 'date','flag','user','text'])

Skipping line 91677: unexpected end of data

In [58]:
df.shape

(91676, 6)

In [59]:
df.tail

<bound method NDFrame.tail of        target  ...                                               text
0           0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1           0  ...  is upset that he can't update his Facebook by ...
2           0  ...  @Kenichan I dived many times for the ball. Man...
3           0  ...    my whole body feels itchy and like its on fire
4           0  ...  @nationwideclass no, it's not behaving at all....
...       ...  ...                                                ...
91671       0  ...  paper is to wood is to tree is to beaver is to...
91672       0  ...  so much to do. then sleeep &amp; schoool  i re...
91673       0  ...  Walking back from Fairway grocery run to find ...
91674       0  ...                    really missing my mommy today.
91675       0  ...  Rev. Run's Son JoJo Arrested For Possession of...

[91676 rows x 6 columns]>

In [61]:
df.head(20)

    target  ...                                               text
0        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        0  ...  is upset that he can't update his Facebook by ...
2        0  ...  @Kenichan I dived many times for the ball. Man...
3        0  ...    my whole body feels itchy and like its on fire
4        0  ...  @nationwideclass no, it's not behaving at all....
5        0  ...                      @Kwesidei not the whole crew
6        0  ...                                        Need a hug
7        0  ...  @LOLTrish hey  long time no see! Yes.. Rains a...
8        0  ...               @Tatiana_K nope they didn't have it
9        0  ...                          @twittera que me muera ?
10       0  ...        spring break in plain city... it's snowing
11       0  ...                         I just re-pierced my ears
12       0  ...  @caregiving I couldn't bear to watch it.  And ...
13       0  ...  @octolinz16 It it counts, idk why I did either...
14       0  ...  @smarrison i would've been the first, but i di...
15       0  ...  @iamjazzyfizzle I wish I got to watch it with ...
16       0  ...  Hollis' death scene will hurt me severely to w...
17       0  ...                               about to file taxes
18       0  ...  @LettyA ahh ive always wanted to see rent  lov...
19       0  ...  @FakerPattyPattz Oh dear. Were you drinking ou...

[20 rows x 6 columns]

In [64]:
df.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [65]:
df.index

RangeIndex(start=0, stop=91676, step=1)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91676 entries, 0 to 91675
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  91676 non-null  int64
 1   ids     91676 non-null  int64
 2   date    91676 non-null  object
 3   flag    91676 non-null  object
 4   user    91676 non-null  object
 5   text    91676 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.2+ MB

In [67]:
df.count()

target    91676
ids       91676
date      91676
flag      91676
user      91676
text      91676
dtype: int64

In [69]:
df.describe()

        target           ids
count  91676.0  9.167600e+04
mean       0.0  1.630846e+09
std        0.0  8.843563e+07
min        0.0  1.467810e+09
25%        0.0  1.557601e+09
50%        0.0  1.677259e+09
75%        0.0  1.692991e+09
max        0.0  1.759645e+09

In [73]:
df.target.value_counts

<bound method IndexOpsMixin.value_counts of 0        0
1        0
2        0
3        0
4        0
        ..
91671    0
91672    0
91673    0
91674    0
91675    0
Name: target, Length: 91676, dtype: int64>